
body {
  background-color: rgb(249, 141, 207);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(240, 84, 191);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(251, 168, 240);
  z-index: 2;
}

#snake-head {
  background-color: rgb(245, 142, 236);
}

.apple {
  background-color: rgb(247, 245, 245);
  z-index: 1;
}